.gradle/
build/
app/build/
local.properties
.idea/
*.iml
.DS_Store
captures/
.kotlin/

*.apk
app/screenshots/
__pycache__/
APPSC-Prep-Setup.exe
APPSC-Prep-Windows.zip
mcq-schedule/
APPSC-MCQ-Schedule-90-Days.zip
APPSC-MCQ-Answer-Keys.zip
